services:
  db:
    image: postgres:18
    ports:
      - 5432:5432
    user: root
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app
    volumes:
      - ./data/db:/var/lib/postgresql
